@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}
.body {
  background-color: cadetblue;
  overflow-x: hidden;
}
